@use '../abstracts/'as *;

.primary-heading {
    font-size: $fs-primary-heading;
    font-family: $ff-primary;
    font-weight: $fw-semi-bold;
    span{
        color: $clr-accent-400;
    }
}

.secondary-heading {
    font-size: $fs-secondary-heading;
    font-family: $ff-primary;
    font-weight: $fw-bold;
    span{
        color: $clr-accent-400;
    }
}


.content-heading{
    font-size: $fs-content-heading;
    font-family: $ff-primary;
    font-weight: $fw-bold;
}

